<ag-grid-angular
style="width: 100%; height: 100%"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData$ | async"
    [rowSelection]="'multiple'"
    [animateRows]="false"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
    [alwaysShowVerticalScroll]="true"
    [autoGroupColumnDef]=""
    [enableRtl]="true"
    [pagination]="false"
    [debounceVerticalScrollbar]="true"
    [animateRows]="true"
  ></ag-grid-angular>